.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.modal-content h3 {
  margin-bottom: 20px;
  text-align: center;
}

.modal-content label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}


.button {
       
  color: #ffffff;        
  border: none;
  padding: 11px 23px;
  font-size: 12px;
  font-weight: 550;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.danger{
  background-color: #e53935; 
}

.primary{
  background-color: #1e88e5; 
}

.safe{
  background-color: #43a047; 
}